OPENAI_API_KEY=<your api key>
MODEL=gpt-4.1-nano-2025-04-14

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your api key>
LANGSMITH_PROJECT="your project name"
